streamlit>=1.24.0
matplotlib>=3.7.1
seaborn>=0.12.2
numpy>=1.24.3
scikit-learn>=1.2.2
deep-translator>=1.11.4
textblob>=0.17.1
pandas>=2.0.2
torch>=2.0.1
transformers>=4.30.2
sentencepiece>=0.1.99
safetensors>=0.3.1
fuzzywuzzy>=0.18.0
python-Levenshtein>=0.12.2
tensorflow>=2.0.0
sentence-transformers>=2.2.2
pytorch-lightning>=2.0.0
rapidfuzz>=3.0.0
joblib>=1.2.0
spacy
rouge
evaluate
